*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Futura", sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.82em 0;
    padding: 0;
    color: var(--white);
}

a {
    position: relative;
    text-decoration: none;
    color: var(--white);
}

a.unlink {
    color: unset;
}

a.underlined::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 3px dotted var(--red);
    /* background-color: var(--red); */
}

a:active {
    color: var(--red);
}

a:visited {
    color: rgb(138, 63, 50);
}

input {
    outline: none;
    border: none;
    padding: 4px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 4px;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    background-color: #282a36;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px,
            transparent 1px),
        radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}

.w1 {
    width: 100%;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 0.9rem;
}

.btn.cta {
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--red);
    border: 2px solid var(--red);
}

.nobtn {
    padding: 0;
    border-radius: 0;
    background: transparent;
    border: none;
    color: var(--white);
    font-size: 0.9rem;
}

/* input {} */
.input {
    border-radius: 5px;
    padding: 5px 10px;
    background: var(--white);
    color: #282a36;
    font-size: 0.9rem;
}

.input::placeholder {
    color: #9295a5;
}

.form-error-text {
    color: var(--white);
    font-size: 0.8rem;
    background-color: var(--red);
    padding: 5px 10px;
    border-radius: 8px;
}

body.admin {
    background-color: #001B48;
}

.admin .main-app-wrapper {
    background-color: #001B48;
}

.admin .main-app-wrapper .admin-layout {
    padding-top: 25px;
}

.main-app-wrapper {
    min-height: 100vh;
    padding: 30px 12px;
}

.leaflet-bottom.leaflet-right {
    display: none;
}

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    width: 100%;
    height: 100vh;
}

.leaflet-popup-content {
    font-family: "Monopoly", sans-serif;
    font-size: 1.2rem;
}

/* body:has(.admin-layout) {
    background-color: var(--white);
} */

.admin-header {
    position: fixed;
    top: 0;
    left: 50%;
    max-width: 600px;
    width: 100%;
    transform: translateX(-50%);
    background-color: #02457A;
    padding: 5px 20px;
    color: #fff;
}

.header-title .title-group .page-title {
    position: relative;
    margin: 0;
    font-size: 25px;
}

.header-title .icon-container {
    background: transparent;
    border-top: 2px solid var(--red);
    border-bottom: 4px solid var(--red);
    border-radius: 50%;
    padding: 4px 8px;
}

.header-title .icon-container i {
    font-size: 30px;
    color: var(--white);
}

.header-title .title-group .subtitle-descriptor {
    font-size: 15px;
    color: #aeaeae;
}

.header-title .title-group h1.page-title::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 35%;
    height: 2px;
    background-color: var(--red);
}

.warning-advertise-still-in-dev {
    color: var(--red);
    font-size: 1.1rem;
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 8px;
    margin: 50px 0;
    text-align: center;
}

.table-appearance {
    gap: 1px;
}

.table-appearance .table-row {
    width: 100%;
    background: #eee;
    padding: 5px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.table-appearance .table-row>* {
    width: 100%;
}

.options-button~.options-list {
    width: 200px;
    top: 100%;
    right: 0;
    background: #eee;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    z-index: 100;
}

.options-list .option-item {
    width: 100%;
    padding: 8px 15px;
    border-bottom: 2px solid #d6d6d6;
    cursor: pointer;
}

.options-list .option-item:last-child {
    border-bottom: none;
}

.options-list .option-item .icon-wrapper {
    padding: 5px 5px 1px;
    border-radius: 50%;
    background: #deffec;
}

.options-list .option-item.action-success .icon-wrapper {
    background: #85e4ad;
}

.options-list .option-item.action-delete .icon-wrapper {
    background: #ffcccc;
}

.options-list .option-item.action-warning .icon-wrapper {
    background: #f5edbb;
}

.options-list .option-item.action-info .icon-wrapper {
    background: #a8bef4;
}

.options-list .option-item.action-warning p.action-option-text {
    color: #b8a122;
}

.options-list .option-item .icon-wrapper i:before {
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
}

.options-list .option-item p.action-option-text {
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.table-row.grid.grid-row {
    grid-template-columns: repeat(6, 1fr);
}




/* Responsive */
@media only screen and (max-width: 768px) {
    .main-app-wrapper {
        padding: 50px 12px;
    }

    .flex.responsive {
        flex-direction: column;
        gap: 10px;
    }

    .hide-mobile {
        display: none;
    }
}

/* Animations */
.appear {
    animation: appear 0.3s ease-in-out;
}

.expand {
    animation: expand 0.3s ease-in-out;
}

@keyframes expand {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(100%);
    }
}

@keyframes appear {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}